* {
	box-sizing: border-box;
}

body{
	background-color: #2b2b2b;
}
		
h1 {
	text-align: center;
	font-family: Lucida Bright;
	color: #ffffff;
}

h2 {
	text-align: center;
	font-family: Arial;
	color: #ffffff;
}
		
.outer-grid {
	display: flex;
	flex-wrap: wrap;
	padding: 5px 10px;
}
		
.inner-grid {
	flex: 25%;
	max-width: 25%;
	padding: 5px 8px;
	background-color: #1c1c1c;
}
		
.inner-grid img {
	margin-top: 5px;
	width: 100%;
}
		
@media screen and (max-width: 800px) {
	.inner-grid {
	flex: 50%;
	max-width: 50%;
	}
}
		
@media screen and (max-width: 600px) {
	.inner-grid {
	flex: 100%;
	max-width: 100%;
	}
}